@import '../../../styles.scss';
.foot-wrap{
    background-color: $back-color;
    text-align: center;
    padding: 20px 0;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%
}